/* TimeTable.css */

.timetable-page {
    max-width: 800px;
    margin: 50px auto; /* Centering the table vertically */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    margin-left: 90px;
    margin-top: 70px;
  }
  
  .timetable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for the table */
  }
  
  .timetable th,
  .timetable td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    min-width: 120px; /* Increased width for better readability */
  }
  
  .timetable th.empty-cell,
  .timetable td.day-cell {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333; /* Darker text color */
  }
  
  .timetable th.period-header {
    background-color: #e0e0e0;
    color: #333; /* Darker text color */
  }
  
  .subject-name {
    margin: 0;
    font-size: 16px; /* Example: Adjust font size */
    color: #555; /* Medium dark text color */
  }
  
  /* Hover effect on table cells */
  .timetable td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .timetable-page {
      padding: 10px;
    }
    
    .timetable th,
    .timetable td {
      padding: 10px;
      font-size: 14px;
    }
    
    .timetable th.period-header,
    .timetable th.empty-cell,
    .timetable td.day-cell {
      font-size: 16px;
    }
  }
  